body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.member-list {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.limember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.member-name {
    flex: 1;
}

.member-role {
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
}

.admin {
    background-color: #28a745;
    color: #fff;
}

.member {
    background-color: #79b2bb;
    color: #fff;
}

.remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}
.promote-button {
    background-color: #43c76f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
   
}

.demote-button {
    background-color: #d4803a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.label-status {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.dassboard-button {
    background-color: #0b9c24; /* Specify the background color you want */
    color: #fff; /* Text color */
    border: none;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dassboard-button:hover {
    background-color: #48b167; /* Button background color on hover */
}